/* .setaccount_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.setaccount_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 40vh;
}