@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    position: relative;
    display: flex;
    margin-top: 30px;
    height: 100vh;
}

.sidebar {
    position: relative;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
    padding: 20px;
    background-color: #0068e7;
    
}
.content {
    margin: 0px 20px 0px 20px;
    border: 1px solid white;
    flex-grow: 1;
    padding: 20px;
    border: 2px solid black;
    overflow: auto; /* 내용이 넘어가면 스크롤바가 자동으로 */
}

.content h2 {
    margin-top: auto;
    margin-bottom: 0;
}
.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color:rgb(245, 242, 242);
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1s ease; /* 호버 효과를 위한 transition 설정 */
}
.sidebar button:hover{
    background-color: #8c8e97;
}
.lout_btn {
    width: 120px;
    background-color: #0068e7;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}
.lout_btn:hover {
    background: rgb(99, 147, 241);
}
td{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.table{
    margin-top: 10px;
}
.request_btn,.report_btn{
    width: 100px;
    height: 30px;
    background-color: #dfe6e9;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.7s ease;
}
.request_btn:hover,.report_btn:hover{
    background-color: #8c8e97;
}
.home_img{
    display: block;
    width: 160px;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    border-radius: 100px;
    box-shadow: 0px 0px 40px rgb(220, 235, 179);
    cursor: pointer;
}
