nav{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.bi.bi-person-circle,.bi.bi-ev-station,.bi.bi-power,.bi.bi-ev-front,.bi.bi-clipboard-check {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
}


.main-menu:hover,nav.main-menu.expanded {
    transition: 0.15s;
}

.main-menu {
    background:#0068e7;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    transition: 0.15s;
    z-index: 2;
}

.main-menu>ul {
    margin:10px 0;
}

.main-menu li {
    position:relative;
    display:block;
    width:350px;
}

.icon_wrapper{
    width:240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.main-menu li:hover>div,nav.main-menu li.active>div,.dropdown-menu>li>div:hover,.dropdown-menu>li>div:focus,.dropdown-menu>.active>div,.dropdown-menu>.active>div:hover,.dropdown-menu>.active>div:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover div,.dashboard-page nav.dashboard-menu ul li.active div {
    color:#fff;
    background-color:rgb(0, 90, 199);
    transition: 1.4s;
}
.sidebar_account,.sidebar_search,.visit_charge,.visit_board{
    margin-top: 30px;
}
.sidebar_wrapper{
    display: flex;
    color:white;
    align-items: center;
    width: 350px;
    cursor: pointer;
}


.sidebar_myaccount > *,.sidebar_mysearch > *,.sidebar_mynavi > *{
    display: none;
}


.login_result,.search_result,.sidebar_mynavi{
    padding-top: 20px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.search_button{
    width:20px;
    height:20px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.search_icon{
    display: flex;
    margin-left: 40px;
}
.open_icon{
    display: block;
    color:white;
    width:30px;
    height:30px;
    position: absolute;
    left:15px;
    top:50vh;
    cursor: pointer;
    opacity: 0.5;
}
.open_icon:hover{
    opacity: 1;
}
.close_icon{
    color:white;
    width:30px;
    height:30px;
    position: absolute;
    left:310px;
    top:50vh;
    cursor: pointer;
    opacity: 0.5;
}
.close_icon:hover{
    opacity: 1;
}
.sidebar_menu_btn{
    height:100%;
    width:30px;
    background-color: black;
}
#find_addr{
    width:200px;
    outline: none;
    border-radius: 20px;
    border: 2px solid lightgray;
    padding-left: 5px;
}
