.logo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.9;
    align-items: center;
    transition: 2s;
}
 /* 지도이미지 충돌(수정) => 수정 후 지워주세요 */
.splash_logo{
    width:35vw;
    height:70vh;
    border-radius: 40px;
}