.form-box1{
    position: relative;
    width: 35vw;
    height: 65vh;
    background-color: white;
    border: 3px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 15px 17px rgba(0,0,0,0.5);
    left: 2vw;
}

.sign_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 60vh;
}
.sign_form{
    display: flex;
    flex-direction: column;
}
.sign_form input{
    border-radius: 5px;
    width: 250px;
    height: 30px;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 5px;
}
.sign_btn{
    width: 250px;
    height: 40px; 
    border-radius: 40px;
    background: rgb(31, 130, 243);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_btn:hover{
    background: rgb(15, 106, 211);
}

.sign_form > *{
    font-size: 20px;
}
.bi.bi-x-lg{
    position:relative;
    left: 39.2vw;
    cursor: pointer;
}